<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- This will be using tailwind for styling -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold underline">
            Hello, I'm using a backend framework!
        </h1>
        <!-- Django template tag our first one
        how we're going to render data on the
        frontend. -->
        <!-- <p>{% debug %}</p> -->
        <!-- We're going to loop through the
        posts and render the data  -->
        {% for post in posts %}
        <!-- Each post is an instance of a post -->
        <div class="bg-white shadow rounded-xl p-4 mb-4">
            <p class="text-lg mb-2">
                <!-- display the title of the post using curly braces to display -->
                {{ post.title }}
            </p>
            <span class="text-sm text-gray-500">
                {{ post.created_date }}
            </span>
        </div>
        {% endfor %}
    </div>
  </body>
</html>
