<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Pet Details</title>
  </head>
  <body>
    <div class="max-w-2xl mx-auto">
        <h1 class="text-3xl font-bold underline">
            <!-- We're going to use data from the context
            in the title of our application.
            -->
            {{ name }} Pet Adoption Matcher!
        </h1>
        <p class="text-lg mb-2">Find your perfect pet match today!</p>
        <!-- below we're going to use the pet types to loop
            display some of that information.
        -->
        <section>
            <h2 class="text-2xl font-semibold mb-4">Available Pet Types</h2>
            <ul class="list-disc pl-5">
            <!-- last class we learned how to loop over an
             array of items. here we're going to loop over a dictionary
            below:
            - pet_type is the key
            - pet is the value (which is a dictionary)
            - pet_types.items will give you the key, value pair.
            to loop over.
             -->
            {% for pet_type, pet in pet_types.items %}
                <li class="mb-2">
                    <!-- we're just rendering each pet type
                    we can add the filter of title.
                    -->
                    <strong>{{ pet_type | title }}</strong>
                    <!-- go into the pet dict itself -->
                    <div>
                        {{ pet.traits }}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </section>
    </div>
  </body>
</html>