{% extends 'base.html' %}

{% block content %}

<div class="max-w-2xl mx-auto">
    <h1 class="text-3xl font-bold underline">
        <!-- title here-->
        Contact Us
    </h1>
    <!-- We're going to loop field indiviually -->
    <form method="post" class="mt-4">
    <!-- Every form will have a csrf_token -->

    {% for field in form %}
        <label for="{{field.id_for_label}}" class="block text-sm font-medium text-gray-700">
            {{ field.label }}
        </label>
        {{ field }}

        {% if field.errors %}
        <!-- display errors if we have them -->
        <p class="text-sm text-red-500 mt-1">
            {{ field.errors | striptags }}
        </p>

        {% endif %}
    {% endfor %}
    <button type="submit" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">
        Submit
    </button>
    </form>

</div>
{% endblock %}